@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Montserrat;
}
.d-none{
  display: none !important;
}
.db{
  display: block !important;
}
.df{
  display: flex;
}
button{
  background-color: transparent;
  border: none;
}
body{
  font-size: 22px;
}

.bcg_main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(70%)
}
.black_bcg{
  width: 100%;
}
.bcg_main h1{
  position: absolute;
  left: 200px;
  z-index: 2;
  font-size: 4rem;
  color: white;
}

/* conteiner */

.conteiner{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  /* height: 300px; */
  background-color: #E5E5E5;
  color: #222222;
  position: relative;
  top: -90px;
  border-radius: 50px;
}
.greetings{
  max-width: 600px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.title_t{
  font-weight: 700;
  font-size: 35px;
  margin: 30px 0px 50px 0px;
}
.line{
  margin: auto;
  width: 70%;
  height: 2px;
  background-color: #275aa7;
  position: relative;
}
.line::before, .line::after{
  content: '';
  width: 8px;
  height: 8px;
  background-color: #275aa7;
  border-radius: 50%;
  position: absolute;
  top: -2.5px;
}
.line::before {
  left: -2px;
}

.line::after {
  right: -2px;
}
.greetings p{
  font-size: 22px;
  font-weight: 600;
  margin-top: 60px;
}

@media screen and (max-width: 1300px){
  .bcg_main h1{
    top: 200px;
    left: 100px;
  }
  body{
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px){
  .bcg_main h1{
    top: 150px;
    left: 60px;
  }
}@media screen and (max-width: 600px){
  .bcg_main{
  height:300px;
}
  .bcg_main h1{
  text-align: center;
    top:200px !important;
}
}
@media screen and (max-width: 400px){
  .bcg_main h1{

    left: 15px;
  }
}