.bcg_main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img_bcg {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .bcg_main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 96, 154, 0.4); /* Полупрозрачный синий фон */
    z-index: 2;
  }
  
  

.card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.card-image {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: #6c757d;
    color: #e9ecef;
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    height: 180px;
    overflow: hidden;
}
.card-image img{
    max-height: 100%;
}
.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.7rem;
    color: #6c757d;
    margin-bottom: 1rem;
}
.date-news{
    font-size: 0.6rem;
}
.card-button {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 0.6rem;
}

.card-button:hover {
    background-color: #0056b3;
}

.news{
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: #ffffffe7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .text-content2 h1{
        font-size: 3rem !important;
    }
}
@media screen and (max-width: 610px) {
    .text-content2 h1{
        font-size: 2rem !important;
        top: 100px !important;
    }
}
@media screen and (max-width: 610px) {
    .text-content2 h1{
        font-size: 1.5rem !important;
        top: 60px !important;
    }
}