{% load static %}
{% include '../header.html' %}
    <link rel="stylesheet" href="{% static 'css/abituruents/abit.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static 'css/component.css' %}">
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'ru',
            includedLanguages: 'en,ru,ky,ko',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<a id="google_translate_element"></a>

<main class="main_2">
    <div class="conteiner">

        <div class="faculty_cont">
            <h1 id="knowledge-title" class="title_t" >Специальности</h1>
            <div class="line_2 line"></div>
            <div class="faculty">

                {% for i in courses %}
                    <div class="item">
                        <img src="{{ i.image.url }}" alt="">
                        <div class="item_fon"></div>
                        <span class="direct">
                          <a class="faculty_href" href="/course_detail/{{ i.id }}/">{{ i.course_name }}</a>
                        </span>
                    </div>
                {% endfor %}

            </div>


            <h1 id="knowledge-title" class="title_t" >IT специальности</h1>
            <div class="line_2 line"></div>
            <div class="faculty it_faculty">

                {% for i in itcourses %}
                    <div class="it_item item">
                        <img src="{{ i.image.url }}" alt="">
                        <div class="item_fon it_fon"></div>
                        <span class="direct">
                        <a class="faculty_href" href="/it_detail/{{ i.id }}/">{{ i.course_name }}</a>
                    </span>
                    </div>
                {% endfor %}

            </div>
        </div>
     <div class="accordion-container">
        <div class="accordion-item">
            <div class="accordion-header">
                <h3>Общие вопросы</h3>
                <span>▶</span>
            </div>
            <div class="accordion-content">
                {% for i in all_questions %}
                <a target="_blank" href="{{ i.answer_text }}">{{ i.question_text }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <h3>Дополнительная информация</h3>
                <span>▶</span>
            </div>
            <div class="accordion-content">
                {% for i in edition_questions %}
                <a target="_blank" href="{{ i.answer_text }}">{{ i.question_text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="button-container">
        <a target="_blank" href="https://2020.edu.gov.kg/spuz/" class="home-button">Edu-Gov</a>
    </div>
    </div>
</main>

<script src="{% static 'js/abiturients/abit.js' %}"></script>
{% include '../footer.html' %}