{% load static %}
{% include '../../header.html' %}
<link rel="stylesheet" href="{% static 'css/documents/component.css' %}">
<link rel="stylesheet" href="{% static 'css/documents/detailDoc.css' %}">
<br><br><br>
<h1 style="color: #01609A; text-align: center; font-family: Arial">Организационная структура</h1>
{% for i in structure_ %}
<div class="conteiner_doc_item">
    <div class="item">
        <h1 class="title_doc_item">{{ i.name_doc }}</h1>
        <div class="btns">
            <button class="view"><a href="{{ i.url_doc }}" style="color: white">Посмотреть документ</a></button>
            <button class="view"><a href="{% url 'documents' %}" style="color: white">На документы</a></button>
        </div>
    </div>
</div>
{% endfor %}
{% include '../../footer.html' %}