{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/about_us/about.css' %}">
<link rel="stylesheet" href="{% static 'css/about_us/component.css' %}./component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="about_bcg">
    <img src="{% static 'image_kkc/snapedit_1731654962571.jpeg' %}" alt="">
    <div class="fon"></div>
    <h1 class="title">О нас</h1>
</div>


<div class="about_collage">
    <h1>О нас</h1>
    {% for i in about_t %}
        <p>{{ i.text }}</p>
    {% endfor %}
</div>

<div class="tab">
    <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
    <label for="tab-btn-1">АУП</label>
    <input id="tab-btn-2" name="tab-btn" type="radio" value="">
    <label for="tab-btn-2">ППС</label>
    <div class="tab-content" id="content-1">
        <h1>АУП</h1>
        <!-- цикл сюда -->
        {% for i in about_aup %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title color">{{ i.position }}</h5>
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">
                                {{ i.description }}
                            </p>
                            <a href="/about_us_detail_aup/{{ i.id }}/" class="card-text">
                                <small class="btn text-body-secondary">Подробнее</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="tab-content" id="content-2">
        <h1>ППС</h1>
        <!-- цикл сюда -->
        {% for i in about_ppc %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title color">{{ i.name }}</h5>
                            <h5 class="card-title">{{ i.course }}</h5>
                            <p class="card-text">{{ i.description }}</p>
                            <a href="/about_us_detail_ppc/{{ i.id }}/" class="card-text">
                                <small class="btn text-body-secondary">Подробнее</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% include 'footer.html' %}