    {% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/component_doc.css' %}">
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
<main>
    <h1>Студенческая жизнь</h1>
    <img class="bcg_docs" src="{% static 'image_kkc/img/bcg.png' %}" alt="">
</main>
<div class="news">
    {% for i in page_obj %}
    <div class="card">
        <div class="card-image">
            <img src="{{ i.image.url }}" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.description }}</p>
            <p class="date-news">{{ i.created_at }}</p>
            <a href="/news_list/{{ i.id }}/" class="card-button">Подробнее</a>
        </div>
    </div>
    {% endfor %}
</div>
    {% include 'footer.html' %}